body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  .game-move-list{
    padding-left: 0.5em;
    list-style-type: none;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .game-status {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  .square_highlighted{
    color: red;
  }
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;;
  }
  
  .game-player{
   /*margin-top: 0.5rem;*/ 
  }

.game-info {
    margin-left: 20px;
  }
 
.game-state-item{
  margin-top: 0.5rem;
}

.game-state,
.game-state button{
  font-weight: bold;
}
  

.game-state:after{
  content: " ";
}